extends layout
block content
	.row
		.col-sm-12
			a(href='/course/update/#{course.courseId}' class='btn btn-sm btn-info') Update Course
			br
			br
			table(class="table table-bordered table-hover table-striped")
				tr
					td Course Id
					td #{course.courseId}
				tr
					td Title
					td #{course.title}
				tr
					td Details
					td #{course.details}
				tr
					td Created On
					td= moment(course.creationDate).format('DD-MMM-YYYY HH:mm:ss')
				tr
					td Last Modified
					td= moment(course.lastModified).format('DD-MMM-YYYY HH:mm:ss')